asgiref==3.3.1
astroid==2.4.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.3
Django==3.1.7
django-jazzmin==2.4.7
emoji==1.2.0
gunicorn==20.0.4
idna==2.10
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
MouseInfo==0.1.3
mysqlclient==2.0.1
Pillow==8.1.0
PyAutoGUI==0.9.52
pyfiglet==0.8.post1
PyGetWindow==0.0.9
pylint==2.5.2
pylint-django==2.3.0
pylint-plugin-utils==0.6
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
PyTweening==1.0.3
pytz==2020.1
pywhatkit==4.7
PyYAML==5.4.1
razorpay==1.2.0
requests==2.25.1
selenium==3.141.0
six==1.15.0
soupsieve==2.2.1
sqlparse==0.3.1
toml==0.10.1
urllib3==1.26.4
verlat==0.0.2
wappdriver==0.6.6
whitenoise==5.2.0
wikipedia==1.4.0
wrapt==1.12.1
